<div class="container">
    <div>
        <a href="/task/listTask">My Task</a>
        <h3>Task Deleted</h3>
        <br>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Description</th>
            <th scope="col">Slug</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each tasks}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.title}}</td>
                <td>{{this.startDate}}</td>
                <td>{{this.endDate}}</td>
                <td>{{this.description}}</td>
                <td>{{this.slug}}</td>
                <td>
                    <button type="button" class="btn btn-info"><a href="" style="color: white" class="btn-restore-task" data-id="{{this._id}}">Restore</a></button>
                    <button type="button" class="btn btn-info"><a href="" style="color: white" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-task">Delete Forever</a></button>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="8">
                    You don't have any task.
<!--                    <a href="/task/listTask">Delete a task</a>-->
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>


<div class="modal fade" id="delete-task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete forever this task?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-delete-task" type="button" class="btn btn-primary">Delete Forever</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-task-form" method="POST"></form>
<form name="restore-task-form" method="POST"></form>


<script language="JavaScript">
    document.addEventListener('DOMContentLoaded', function (){
        let taskID;
        let deleteForm = document.forms['delete-task-form'];
        let btnDeleteTask = document.getElementById('btn-delete-task');
        let restoreForm = document.forms['restore-task-form'];
        let btnRestoreTask = $('.btn-restore-task');

        //When confirm clicked
        $('#delete-task').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            taskID = button.data('id');
        })

        //Delete forever task
        btnDeleteTask.onclick = function (){
            deleteForm.action = '/task/' + taskID + '/force?_Method=DELETE';
            deleteForm.submit();
        }

        //Restore task
        btnRestoreTask.click(function (e){
          e.preventDefault();

          let taskId = $(this).data('id');
          restoreForm.action = '/task/' + taskId + '/restoreTask?_Method=PATCH';
          restoreForm.submit();
        })
    });
</script>

