<div class="container">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ideas.title}}</div>
            </div>
            <span class="badge bg-primary rounded-pill">Ask question</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <p>
                    {{ideas.description}}
                </p>
                <img class="rounded float-right" src="{{ideas.image}}">
                <a href="{{ideas.file}}">{{ideas.file}}</a>
            </div>
        </li>
    </ul>
    <br>


{{!Comment}}
<form method="POST" action="/cmt/store" >
  <input type="text" id="author" name="author" placeholder="Username"> 
<br>
<textarea id="content" name="content" rows="4" cols="50" placeholder=" Leave comment here"></textarea>
 <br>
 <input type="submit">
</form>
</div>
<form>
{{!show comment}}

<div>
<br>
{{#each ideas.comments}}
{{ideas.comments.author}}
<br>
{{ideas.comments.content}}
{{/each}}


</form>
</div>
</div>

 




