{{> main}}
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Slug</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each ideas}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>
                    <img class="rounded float-right idea-image" src="{{this.image}}">
                </td>
                <td>{{this.slug}}</td>
                <td>
                    <button type="button" class="btn btn-info"><a href="/idea/:id/update" style="color: white">Update</a>
                    </button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-bs-target="#DeleteIdea">Delete
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<!-- Confirm delete idea -->
<div class="modal fade" id="DeleteIdea" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">DELETE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        YOU SURE WANTO DELETE THIS CATEGORY
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-deletecategory"  >Delete</button>
        <buttontype="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
