<div class="container">
    <div>
        <h3>List Accounts</h3>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">FullName</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each accounts}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.username}}</td>
                <td>{{this.password}}</td>
                <td>{{this.fullName}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.email}}</td>
                <td>{{this.gender}}</td>
                <td>{{this.role}}</td>
                <td>
                    <button type="button" class="btn btn-info"><a href="/auth/{{this._id}}/updateAccount" style="color: white">Update</a></button>
                    <button type="button" class="btn btn-info"><a href="/idea/create" style="color: white">Delete</a></button>
                </td>
            </tr>

        {{else}}
            <tr>
                <td colspan="8">
                    You don't have any task.
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>


